<nav *ngIf="pages.length > 1">
    <ul class="pagination">
        <li (click)="changePage(currentPage - 1)"
            [ngClass]="{disabled: currentPage <= 0}"
            class="page-item">
            <a class="page-link">Previous</a>
        </li>
        <li *ngFor="let n of pages"
            [ngClass]="{active: currentPage == n}"
            (click)="changePage(n)"
            class="page-item"><a class="page-link">{{ n + 1 }}</a></li>
        <li (click)="changePage(currentPage + 1)"
            [ngClass]="{disabled: currentPage >= pages.length}"
            class="page-item">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>